// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #454ade;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4FAFF;
$dark-blue: #353b3c;
$pink: #c874d9;
$dynamic-green: #A3F7B5;
$lighter-blue: #F4FAFF;

$background-1: #151B48;
$card-1: #807655;
$font-1: #9EC6E9;
$font-2: #FDFDFC;
